# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "6cb4258be5427f9abebb7d0eb9313437"
name = "wylto-integration"
application_url = "https://wylto-shopify-266803453994.asia-south1.run.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "read_checkouts,read_customers,read_fulfillments,read_orders,read_products"

[auth]
redirect_urls = [
  "https://wylto-shopify-266803453994.asia-south1.run.app/auth/callback",
  "https://wylto-shopify-266803453994.asia-south1.run.app/auth/shopify/callback",
  "https://wylto-shopify-266803453994.asia-south1.run.app/api/auth/callback"
]